<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectSQLDB" value="initial catalog=Problem management;data source=10.15.1.95;Connect Timeout=30;User Id=ccmuser;Password=password1"/>
    <add key="smtpServer" value="smtp.hawaiian.aero"/>
    <add key="fromEmail" value=""/>
    <add key="toEmail" value=""/>    
  </appSettings>
</configuration>