<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="LogFilePath" value="D:\Share\"/>
    <add key="fromEmail" value="LogMonitor@hawaiianair.com"/>
    <add key="toEmail" value="mohamed.navidh@hawaiianair.com"/>    
    <add key="emailSubject" value="Miles Admin Timeout Error"/>
    <add key="smtpServer" value="smtp.hawaiian.aero"/>
    
  </appSettings>
</configuration>