<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="LogFilePath" value="C:\Share\"/>
    <add key="fromEmail" value="LogMonitor@test.com"/>
    <add key="toEmail" value="test@test.com"/>    
    <add key="emailSubject" value="Timeout Error"/>
    <add key="smtpServer" value=""/>
    
  </appSettings>
</configuration>