<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTPAddress" value="smtp.hawaiian.aero"/>
    <add key="EmailFrom" value="FTPDownloader@hawaiianair.com"/>
    <add key="EmailTo" value="mohamed.navidh@hawaiianair.com"/>
    <add key="ErrorEmailSubject" value="Error notification"/>
    <add key="FileMissingEmailSubject" value="File unavailable for download"/>
  </appSettings>
</configuration>